{
  "plugins": [
    "@jjoriping/eslint-plugin"
  ],
  "extends": [
    "plugin:@jjoriping/eslint-plugin/all"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}